<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <% if (mobile) { %>
    <meta name="viewport" content="width=device-width;scale-width=1.0;maximum-scale=1.0;minimum-scale=1.0;user-scalable=true;" />
    <% } %>
    <% if (mobile.includes('rem')) { %>
    <script type='text/javascript'><%= require('raw-loader?esModule=false!!babel-loader!!lib-flexible/flexible') %></script>
    <% } %>
    <title>Webpack Config</title>
</head>
<body>
<% if (vendors) { %>
<script type="text/javascript" src=<%= vendors %>></script>
<% } %>
</body>
</html>